<div class="panel panel-primary">
    <div class="panel-heading">
        {{title}}
    </div>
    <div class="panel-body">
       <div class="row">
           <div class="col-md-2">
               <p>FilterBy:</p>
           </div>
           <div class="col-md-4">
               <input type="text" [(ngModel)]="filterText"/>
           </div>
       </div>
       <div class="row">
           <div class="col-md-6">
                <h3>FilteredBy: {{filterText}}</h3>
           </div>
       </div>
       {{showImage}}
       <div class="table-responsive">
           <table class="table" *ngIf="products && products.length">
               <thead>
                    <tr>
                        <th>
                            <button class="btn btn-success"
                                (click)="toggleImage()">
                                Show Image
                            </button>
                        </th>
                        <th>Name</th>
                        <th>Code</th>
                        <th>Release Date</th>
                        <th>Price</th>
                        <th>Star Rating</th>
                    </tr>
               </thead>
               <tbody>
                   <tr *ngFor="let product of products | ProductFilter:filterText">
                        <td>
                            <img [src]="product.imageUrl" 
                                *ngIf="showImage"/>
                        </td>
                        <td>{{product.productName | myUpper:"upper"}}</td>
                        <td>{{product.productCode | myUpper:"lower"}}</td>
                        <td>{{product.releaseDate}}</td>
                        <td>{{product.price | AddValue | currency:"INR"}}</td>
                        <td>{{product.starRating}}</td>
                   </tr>
               </tbody>
           </table>
       </div>
    </div>
</div>